@import url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap');

@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

html {
  scroll-behavior: smooth;
}

html {
  font-size: .8rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: .9rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: .95rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

.anchor::before { 
  display: block; 
  content: " "; 
  margin-top: -72px; 
  height: 72px; 
  visibility: hidden; 
  pointer-events: none;
}

.navbar .navbar-toggler {
  border-color: #b9a17e;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(185, 161, 126)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.hero-section {
  margin-top: -56px;
  height: 110vh;
  min-height: 750px;
  background-color: darkgray;
  background-image: url('../img/9.jpg');
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

h2 {
  color: #b9a17e;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: rgba(243, 234, 226, 0.767);
}

.top-nav-collapse {
  background-color: #b9a17e !important;
}
.top-nav-collapse .nav-link, .top-nav-collapse .navbar-brand {
 color: #505050 !important;
}

.navbar:not(.top-nav-collapse) {
  background: rgba(255, 255, 255, 0.144) !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #b9a17e !important;
  }
  .navbar:not(.top-nav-collapse) .nav-link, .navbar:not(.top-nav-collapse) .navbar-brand {
    color: #ffffff !important;
  }
}

.navbar-brand {
  font-family: 'alex brush';
  font-size: 2rem;
  color: #b9a17e !important;
  border-radius: 5px;
  padding: 5px;
}

.hero-h1 {
  color: #b9a17e;
}

.hero-text {
  top: -10%;
  // left: -10%;
  width: 100%;
  max-width: 80vw;
  z-index: 1;
  left: 15%;
  margin-left: -25%;
}

.parallax--box {
  position: absolute;
  max-width: 30em;
  font-family: 'alex brush';
  font-size: 3rem;
}

.triplet {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spacer {
  height: 2rem;
}

.contact-section .fas {
  color: #b9a17e;
}

.products li {
  margin-bottom: 10px;
}

.form-header {
  margin-top: -3.13rem;
  margin-bottom: 3rem;
  padding: 1rem;
  background: rgb(43, 43, 43);
  color: white;
}

.g-recaptcha {
  transform: scale(1);
  transition: transform 1s;
  @media only screen and (max-width: 576px){
    transform: scale(0.75);
  }
  
}

.reviews-section i {
  color: #b9a17e;
}

blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
  color: #b9a17e;
}
